---
import Layout from '../../layouts/Layout.astro';
const posts = await Astro.glob('../../content/blog/*.md');
---

<Layout title="Blog" description="Upcycling tutorials and inspiration.">
	<main>
		<h1 class="text-3xl font-bold mb-4">Blog</h1>
		<ul>
			{posts.map((post) => (
				<li class="mb-4">
					<a href={post.url} class="text-blue-500 hover:underline">
						{post.frontmatter.title}
					</a>
					<p class="text-gray-600 text-sm">{post.frontmatter.pubDate}</p>
					<p class="text-gray-700">{post.frontmatter.description}</p>
				</li>
			))}
		</ul>
	</main>
</Layout>